/*sizing*/
/*for full screen calculate (desired height of slider in vh * width of img) / height of img with vh as units
for normal slider just uncomment the second width*/
/*FONT IMPORT*/
@font-face {
  font-family: timeburner;
  src: url("timeburner.ttf");
}
/*slider imports*/
/********** NEXT SLIDE ARROW NAVIGATION **********/
/*APPEARANCE*/
#cssSlider > input {
  /*new wrapper to this*/
  display: none;
}

#cssSlider > #pageNav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 15;
  width: 100%;
  height: 10vw;
}

#cssSlider > #pageNav > #previousArrow > .slideL,
#cssSlider > #pageNav > #playPause > .playPauseBtn,
#cssSlider > #pageNav > #nextArrow > .slideR {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

#cssSlider > #pageNav > #previousArrow > .slideL {
  width: 10vw;
  height: 10vw;
  background-image: url(./icons/previous.svg), none;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

#cssSlider > #pageNav > #nextArrow > .slideR {
  width: 10vw;
  height: 10vw;
  background-image: url(./icons/next.svg), none;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

#cssSlider > #pageNav > #playPause > #playBtn {
  width: 10vw;
  height: 10vw;
  background-image: url(./icons/play.svg), none;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

#cssSlider > #pageNav > #playPause > #pauseBtn {
  width: 10vw;
  height: 10vw;
  background-image: url(./icons/pause.svg), none;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

/*POSITION*/
#cssSlider > #pageNav > #previousArrow > .slideL {
  left: 2vw;
}

#cssSlider > #pageNav > #playPause > .playPauseBtn {
  left: 50%;
  margin: 0 0 0 -5vw;
}

#cssSlider > #pageNav > #nextArrow > .slideR {
  right: 2vw;
}

/*ONLY DISPLAY IF ON SLIDER*/
#cssSlider > #pageNav:hover > #playPause > .playPauseBtn {
  opacity: 0.7;
}

#cssSlider > #pageNav:hover > #previousArrow > .slideL,
#cssSlider > #pageNav:hover > #nextArrow > .slideR {
  opacity: 0.1166666667;
}

/*DON'T SHOW PLAY AND PAUSE*/
#cssSlider > #play:not(:checked) ~ #pageNav > #playPause > #pauseBtn {
  display: none;
}

#cssSlider > #play:checked ~ #pageNav > #playPause > #playBtn {
  display: none;
}

/*WHICH ARROW SHOULD BE ON TOP*/
#cssSlider > #slide1:checked ~ #pageNav > #previousArrow > #slideL6,
#cssSlider > #slide1:checked ~ #pageNav > #nextArrow > #slideR2 {
  z-index: 15;
}

#cssSlider > #slide2:checked ~ #pageNav > #previousArrow > #slideL1,
#cssSlider > #slide2:checked ~ #pageNav > #nextArrow > #slideR3 {
  z-index: 15;
}

#cssSlider > #slide3:checked ~ #pageNav > #previousArrow > #slideL2,
#cssSlider > #slide3:checked ~ #pageNav > #nextArrow > #slideR4 {
  z-index: 15;
}

#cssSlider > #slide4:checked ~ #pageNav > #previousArrow > #slideL3,
#cssSlider > #slide4:checked ~ #pageNav > #nextArrow > #slideR5 {
  z-index: 15;
}

#cssSlider > #slide5:checked ~ #pageNav > #previousArrow > #slideL4,
#cssSlider > #slide5:checked ~ #pageNav > #nextArrow > #slideR6 {
  z-index: 15;
}

#cssSlider > #slide6:checked ~ #pageNav > #previousArrow > #slideL5,
#cssSlider > #slide6:checked ~ #pageNav > #nextArrow > #slideR1 {
  z-index: 15;
}

/*STARTING ARROW ANIMATION, FOR WHICH TO BE ON TOP*/
#cssSlider > #play:checked ~ #pageNav > #previousArrow > #slideL6,
#cssSlider > #play:checked ~ #pageNav > #nextArrow > #slideR2 {
  animation: arrows 40000ms infinite 0ms;
}

#cssSlider > #play:checked ~ #pageNav > #previousArrow > #slideL1,
#cssSlider > #play:checked ~ #pageNav > #nextArrow > #slideR3 {
  animation: arrows 40000ms infinite 6666.6666666667ms;
}

#cssSlider > #play:checked ~ #pageNav > #previousArrow > #slideL2,
#cssSlider > #play:checked ~ #pageNav > #nextArrow > #slideR4 {
  animation: arrows 40000ms infinite 13333.3333333333ms;
}

#cssSlider > #play:checked ~ #pageNav > #previousArrow > #slideL3,
#cssSlider > #play:checked ~ #pageNav > #nextArrow > #slideR5 {
  animation: arrows 40000ms infinite 20000ms;
}

#cssSlider > #play:checked ~ #pageNav > #previousArrow > #slideL4,
#cssSlider > #play:checked ~ #pageNav > #nextArrow > #slideR6 {
  animation: arrows 40000ms infinite 26666.6666666667ms;
}

#cssSlider > #play:checked ~ #pageNav > #previousArrow > #slideL5,
#cssSlider > #play:checked ~ #pageNav > #nextArrow > #slideR1 {
  animation: arrows 40000ms infinite 33333.3333333333ms;
}

/********** END NEXT SLIDE ARROW NAVIGATION **********/
/********** SLIDE INDICATORS **********/
/*PAGE INDICATORS APPEARANCE*/
#cssSlider > #pageIndicators {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 15;
}

#cssSlider > #pageIndicators > .indicator {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  border-radius: 100%;
  background-color: #abb7b7;
  /*color of page indicator*/
  cursor: pointer;
  position: relative;
}

/*why can't i mix in or anything here?*/
/*
#cssSlider > #pageIndicators > .indicator > .hoverPoint {
  margin: 0.5em;
  display: inline-block;
  height: 0.5em;
  width: 0.5em;
  border-radius: 100%;
  background: transparent;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  z-index: 16;
}*/
#cssSlider > #pageIndicators > .indicator > .point {
  display: inline-block;
  height: 0.5em;
  width: 0.5em;
  border-radius: 100%;
  background: transparent;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

/*STARTING PAGE INDICATOR WHICH TO BE LIT ANIMATION*/
#cssSlider > #play:checked ~ #pageIndicators > .indicator > #point1,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > #point1 {
  animation: point 40000ms infinite 0ms;
}

#cssSlider > #play:checked ~ #pageIndicators > .indicator > #point2,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > #point2 {
  animation: point 40000ms infinite 6666.6666666667ms;
}

#cssSlider > #play:checked ~ #pageIndicators > .indicator > #point3,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > #point3 {
  animation: point 40000ms infinite 13333.3333333333ms;
}

#cssSlider > #play:checked ~ #pageIndicators > .indicator > #point4,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > #point4 {
  animation: point 40000ms infinite 20000ms;
}

#cssSlider > #play:checked ~ #pageIndicators > .indicator > #point5,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > #point5 {
  animation: point 40000ms infinite 26666.6666666667ms;
}

#cssSlider > #play:checked ~ #pageIndicators > .indicator > #point6,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > #point6 {
  animation: point 40000ms infinite 33333.3333333333ms;
}

/*WHICH INDICATOR SHOULD BE LIT*/
#cssSlider > #slide1:checked ~ #pageIndicators > .indicator > #point1 {
  background: #f2f1ef;
  /*color of page indicator dot*/
}

#cssSlider > #slide2:checked ~ #pageIndicators > .indicator > #point2 {
  background: #f2f1ef;
  /*color of page indicator dot*/
}

#cssSlider > #slide3:checked ~ #pageIndicators > .indicator > #point3 {
  background: #f2f1ef;
  /*color of page indicator dot*/
}

#cssSlider > #slide4:checked ~ #pageIndicators > .indicator > #point4 {
  background: #f2f1ef;
  /*color of page indicator dot*/
}

#cssSlider > #slide5:checked ~ #pageIndicators > .indicator > #point5 {
  background: #f2f1ef;
  /*color of page indicator dot*/
}

#cssSlider > #slide6:checked ~ #pageIndicators > .indicator > #point6 {
  background: #f2f1ef;
  /*color of page indicator dot*/
}

/*used to override the animation for lit indicator*/
#cssSlider > #pageIndicators > .indicator:hover > .point {
  background: #f2f1ef;
  /*color of page indicator dot*/
}

/********** END SLIDE INDICATORS **********/
/**********IMAGE/SLIDER STYLING **********/
/*don't show the other images*/
#cssSlider {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #5b5b5b;
}
#cssSlider #sliderImages {
  left: 0;
  width: calc(100% * 6);
  height: 100%;
  /*size of the images*/
}
#cssSlider #sliderImages div {
  width: calc(100% / 6);
  height: 100%;
  float: left;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cssSlider #sliderImages div img {
  height: 100%;
  width: auto;
  /*
  @media all and (orientation:portrait) {
  	width: 100%;
  	height: auto;
  }
  @media all and (orientation:landscape) {
  	height: 100%;
  	width: auto;
  }
  */
}

/*animation to use*/
/*animation parameters*/
/*not ie use these animations*/
#cssSlider > #sliderImages {
  -webkit-animation-name: slider;
  -webkit-animation-duration: 40s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-name: slider;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  /* IE 10+ hack - cant animate translate */
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #cssSlider > #sliderImages {
    animation-name: slider-ie !important;
    animation-duration: 40s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

#cssSlider > #sliderImages {
  position: absolute;
  margin: 0;
  padding: 0;
  /*this is the time to transition between images
    when using the arrows*/
  transition: 2.6666666667s;
}

/********** END IMAGE/SLIDER STYLING **********/
/********** SLIDER TEXT **********/
#slideDesc {
  width: 100%;
  height: 100%;
  position: absolute;
}

#cssSlider > #slideDesc > .slideText {
  position: absolute;
  bottom: 0;
  padding: 0.6em;
  margin: 2em;
  max-width: calc(100vw - 4em);
  background-color: #abb7b7;
  /*color of blurb box*/
  border-radius: 0.5em;
  z-index: -1;
  opacity: 0;
  transform: translateY(-100px);
  transition: 950ms opacity 850ms cubic-bezier(0.68, -0.55, 0.265, 1.55), 950ms transform 850ms cubic-bezier(0.68, -0.55, 0.265, 1.55), 950ms visibility 850ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#cssSlider > #slideDesc > .slideText > p {
  padding: 0.1em;
  margin: 0;
  color: black;
  /*color of blurb box text*/
  font-size: 2em;
  font-family: timeburner;
}

/*BRING THE TEXT FORWARD ON ITS PAGE*/
#cssSlider > #slide1:checked ~ #slideDesc > #slideText1 {
  z-index: 2;
  opacity: 1;
  transform: translateY(0);
}

#cssSlider > #slide2:checked ~ #slideDesc > #slideText2 {
  z-index: 2;
  opacity: 1;
  transform: translateY(0);
}

#cssSlider > #slide3:checked ~ #slideDesc > #slideText3 {
  z-index: 2;
  opacity: 1;
  transform: translateY(0);
}

#cssSlider > #slide4:checked ~ #slideDesc > #slideText4 {
  z-index: 2;
  opacity: 1;
  transform: translateY(0);
}

#cssSlider > #slide5:checked ~ #slideDesc > #slideText5 {
  z-index: 2;
  opacity: 1;
  transform: translateY(0);
}

#cssSlider > #slide6:checked ~ #slideDesc > #slideText6 {
  z-index: 2;
  opacity: 1;
  transform: translateY(0);
}

/*TEXT BOX ANIMATION*/
#cssSlider > #play:checked ~ #slideDesc > #slideText1,
#cssSlider > #pause:checked ~ #slideDesc > #slideText1 {
  animation: textBoxBounce 40000ms infinite 0ms;
}

#cssSlider > #play:checked ~ #slideDesc > #slideText2,
#cssSlider > #pause:checked ~ #slideDesc > #slideText2 {
  animation: textBoxBounce 40000ms infinite 6666.6666666667ms;
}

#cssSlider > #play:checked ~ #slideDesc > #slideText3,
#cssSlider > #pause:checked ~ #slideDesc > #slideText3 {
  animation: textBoxBounce 40000ms infinite 13333.3333333333ms;
}

#cssSlider > #play:checked ~ #slideDesc > #slideText4,
#cssSlider > #pause:checked ~ #slideDesc > #slideText4 {
  animation: textBoxBounce 40000ms infinite 20000ms;
}

#cssSlider > #play:checked ~ #slideDesc > #slideText5,
#cssSlider > #pause:checked ~ #slideDesc > #slideText5 {
  animation: textBoxBounce 40000ms infinite 26666.6666666667ms;
}

#cssSlider > #play:checked ~ #slideDesc > #slideText6,
#cssSlider > #pause:checked ~ #slideDesc > #slideText6 {
  animation: textBoxBounce 40000ms infinite 33333.3333333333ms;
}

/********** END SLIDER TEXT **********/
/********** PLAY PAUSE OF ALL ANIMATIONS **********/
/*restart the show*/
#cssSlider > #slide1:checked ~ #sliderImages {
  animation: none;
}

#cssSlider > #slide2:checked ~ #sliderImages {
  animation: none;
}

#cssSlider > #slide3:checked ~ #sliderImages {
  animation: none;
}

#cssSlider > #slide4:checked ~ #sliderImages {
  animation: none;
}

#cssSlider > #slide5:checked ~ #sliderImages {
  animation: none;
}

#cssSlider > #slide6:checked ~ #sliderImages {
  animation: none;
}

/*pause all animations*/
#cssSlider > #pause:checked ~ #sliderImages {
  animation-play-state: paused;
}

#cssSlider > #pause:checked ~ #slideDesc > #slideText1,
#cssSlider > #pause:checked ~ #pageNav #previousArrow > #slideL1,
#cssSlider > #pause:checked ~ #pageNav > #nextArrow > #slideR1,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > #point1 {
  animation-play-state: paused;
}

#cssSlider > #pause:checked ~ #slideDesc > #slideText2,
#cssSlider > #pause:checked ~ #pageNav #previousArrow > #slideL2,
#cssSlider > #pause:checked ~ #pageNav > #nextArrow > #slideR2,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > #point2 {
  animation-play-state: paused;
}

#cssSlider > #pause:checked ~ #slideDesc > #slideText3,
#cssSlider > #pause:checked ~ #pageNav #previousArrow > #slideL3,
#cssSlider > #pause:checked ~ #pageNav > #nextArrow > #slideR3,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > #point3 {
  animation-play-state: paused;
}

#cssSlider > #pause:checked ~ #slideDesc > #slideText4,
#cssSlider > #pause:checked ~ #pageNav #previousArrow > #slideL4,
#cssSlider > #pause:checked ~ #pageNav > #nextArrow > #slideR4,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > #point4 {
  animation-play-state: paused;
}

#cssSlider > #pause:checked ~ #slideDesc > #slideText5,
#cssSlider > #pause:checked ~ #pageNav #previousArrow > #slideL5,
#cssSlider > #pause:checked ~ #pageNav > #nextArrow > #slideR5,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > #point5 {
  animation-play-state: paused;
}

#cssSlider > #pause:checked ~ #slideDesc > #slideText6,
#cssSlider > #pause:checked ~ #pageNav #previousArrow > #slideL6,
#cssSlider > #pause:checked ~ #pageNav > #nextArrow > #slideR6,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > #point6 {
  animation-play-state: paused;
}

/********** END PLAY PAUSE OF ALL ANIMATIONS **********/
/********** MANUAL PAGE ADVANCEMENT **********/
#cssSlider > #slide1:checked ~ #sliderImages {
  margin-left: 0%;
}

#cssSlider > #slide2:checked ~ #sliderImages {
  margin-left: -100%;
}

#cssSlider > #slide3:checked ~ #sliderImages {
  margin-left: -200%;
}

#cssSlider > #slide4:checked ~ #sliderImages {
  margin-left: -300%;
}

#cssSlider > #slide5:checked ~ #sliderImages {
  margin-left: -400%;
}

#cssSlider > #slide6:checked ~ #sliderImages {
  margin-left: -500%;
}

/********** END MANUAL PAGE ADVANCEMENT **********/
/********** AUTOMATIC PAGE ADVANCEMENT **********/
@keyframes slider {
  0%, 10% {
    transform: translateX(0%);
  }
  16.6666666667%, 26.6666666667% {
    transform: translateX(-16.6666666667%);
  }
  33.3333333333%, 43.3333333333% {
    transform: translateX(-33.3333333333%);
  }
  50%, 60% {
    transform: translateX(-50%);
  }
  66.6666666667%, 76.6666666667% {
    transform: translateX(-66.6666666667%);
  }
  83.3333333333%, 93.3333333333% {
    transform: translateX(-83.3333333333%);
  }
  100% {
    transform: translateX(0);
  }
}
/* AGAIN, PLEASE DIE IE */
/* IE IS FINALLY DEAD*/
/*IE FIX
@keyframes slider-ie {
  $total: (100-($SLIDE_PAUSE_PERCENT * $SLIDE_COUNT));
  $gap: (100-($SLIDE_PAUSE_PERCENT * $SLIDE_COUNT)) / $SLIDE_COUNT;
  $i: 0;
  $c: 0;
  @while $i < 100 {
    7%,
    17% {
      margin-left: ($c * -$SLIDER_WIDTH/$SLIDE_COUNT);
    }

    $i: $i + $SLIDE_PAUSE_PERCENT + $gap;
    $c: $c + 1;
  }

  100% {
    margin-left: -0.1vw;
  }
}

/********** END AUTOMATIC PAGE ADVANCEMENT **********/
/********** ANIMATIONS **********/
/*arrows*/
@keyframes arrows {
  0%, 16.6666666667% {
    opacity: 0;
    z-index: 15;
  }
  16.6766666667%, 100% {
    opacity: 0;
    z-index: -1;
  }
}
/*page indicators*/
@keyframes point {
  1%, 16% {
    background: #f2f1ef;
    /*color of page indicator dot*/
  }
  17%, 100% {
    background: transparent;
  }
}
/*text box*/
@keyframes textBoxBounce {
  0.7%, 15.6666666667% {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    transform: translateY(10px);
  }
  1%, 14.6666666667% {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    transform: translateY(0px);
  }
  17.6666666667% {
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    transform: translateY(-100px);
  }
  17.6766666667%, 100% {
    z-index: 0;
  }
}
@keyframes textBoxBounce {
  0.7%, 15.6666666667% {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    transform: translateY(10px);
  }
  1%, 14.6666666667% {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    transform: translateY(0px);
  }
  17.6666666667% {
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    transform: translateY(-100px);
  }
  17.6766666667%, 100% {
    z-index: 0;
  }
}
/********** END ANIMATIONS **********/
/*FOR MOBILE*/
@media screen and (max-width: 1000px) {
  #cssSlider > #slideDesc > .slideText {
    display: none;
  }
  #cssSlider > #pageIndicators > .indicator {
    width: 1em;
    height: 1em;
  }
}
#cssSliderTestWrapper {
  height: 100vh;
}/*# sourceMappingURL=cssSlider.css.map */