$FONT_PATH: "timeburner.ttf";
$ARROW_PREVIOUS_PATH: "./icons/previous.svg";
$ARROW_NEXT_PATH: "./icons/next.svg";
$ARROW_PLAY_PATH: "./icons/play.svg";
$ARROW_PAUSE_PATH: "./icons/pause.svg";

$SLIDER_BACKGROUND: #5b5b5b;
$INDICATOR_COLOR: #f2f1ef;
$DESC_BOX_TEXT_COLOR: black;
$DESC_BOX_COLOR: #abb7b7;

/*sizing*/

/*for full screen calculate (desired height of slider in vh * width of img) / height of img with vh as units
for normal slider just uncomment the second width*/

$ASPECT_RATIO: 0; // either set this or height
$SLIDER_WIDTH: 100%;
$SLIDER_HEIGHT: 100%; // aspect ration takes precedence to height
$SLIDE_COUNT: 5;
$SLIDE_TIME: 40; // in seconds
$SLIDE_PAUSE_PERCENT: 10; // percent of time paused on each image
$BTN_OPACITY: 0.7;
