$FONT_PATH: "timeburner.ttf";
$ARROW_PREVIOUS_PATH: "./icons/previous.svg";
$ARROW_NEXT_PATH: "./icons/next.svg";
$ARROW_PLAY_PATH: "./icons/play.svg";
$ARROW_PAUSE_PATH: "./icons/pause.svg";

$SLIDER_BACKGROUND: #5b5b5b; // background color of slider when images are too small
$INDICATOR_BACKGROUND_COLOR: #abb7b7; // color of indicators at the bottom of the slider
$INDICATOR_POINT_COLOR: #f2f1ef; // color of the indicator when lit
$DESC_BOX_COLOR: #abb7b7; // color of the description box
$DESC_BOX_TEXT_COLOR: black; // color of the text in the description box

$ASPECT_RATIO: 0; // either set this or height
$SLIDER_WIDTH: 100%; // always set the width
$SLIDER_HEIGHT: 100%; // aspect ration takes precedence over height
$SLIDE_COUNT: 6;
$SLIDE_TIME: 40; // in seconds
$SLIDE_PAUSE_PERCENT: 10; // percent of time paused on each image; $SLIDE_COUNT * $SLIDE_PAUSE_PERCENT !> 100
$BTN_OPACITY: 0.7; // opacity of play/pause and advancement buttons
