@use "sass:math";

@import "_variables";

/*FONT IMPORT*/

@font-face {
  font-family: timeburner;
  src: url($FONT_PATH);
}

//@import "_mixins";

/*slider imports*/

@import "_arrowNavigation";
@import "_slideIndicators";
@import "_slider";
@import "_slideDesc";
@import "_slideAdvancement";

/*FOR MOBILE*/

@media screen and (max-width: 1000px) {
  #cssSlider > #slideDesc > .slideText {
    //#cssSlider > #pageIndicators {
    display: none;
  }

  #cssSlider > #pageIndicators > .indicator {
    width: 1em;
    height: 1em;
  }
}

#cssSliderTestWrapper {
  height: 100vh;
}
