@use "sass:math";

@import "_variables";

/*FONT IMPORT*/

@font-face {
  font-family: timeburner;
  src: url($FONT_PATH);
}

//@import "_mixins";

/*slider imports*/

@import "_arrowNavigation";
@import "_slideIndicators";
@import "_slider";
@import "_slideDesc";
@import "_slideAdvancement";

/* Checks before we compile*/

@if ($SLIDE_COUNT * $SLIDE_PAUSE_PERCENT > 100) {
  @error "Slider can't take up more than 100% of the time.";
}

/*FOR MOBILE*/

@media screen and (max-width: 1000px) {
  #cssSlider > #slideDesc > .slideText {
    //#cssSlider > #pageIndicators {
    display: none;
  }

  #cssSlider > #pageIndicators > .indicator {
    width: 1em;
    height: 1em;
  }
}

#cssSliderTestWrapper {
  height: 100vh;
}
