@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(iconFont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(iconFont/MaterialIcons-Regular.woff2) format('woff2'),
       url(iconFont/MaterialIcons-Regular.woff) format('woff'),
       url(iconFont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 10vw;  /* Preferred icon size */
  color: black; /*color of media icons*/
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/*CSS RESET*/
html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/**********NEXT SLIDE NAVIGATION**********/

/*APPEARANCE*/
#cssSlider input{
    display: none;
}
.slideL{
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 4vw;
    z-index: 15;
    opacity: 0;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
.slideR{
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 4vw;
    z-index: 15;
    opacity: 0;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
.playBtn{
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 4vw;
    z-index: 15;
    opacity: 0;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
.pauseBtn{
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 4vw;
    z-index: 15;
    opacity: 0;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

/*ONLY DISPLAY IF ON SLIDER*/
#cssSlider .pics:hover > label{
    opacity: 1;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

/*DON'T SHOW PLAY AND PAUSE*/
#play:not(:checked) ~ #sliderImages .pics .pauseBtn{
    display: none;
}
#play:checked ~ #sliderImages .pics .playBtn{
    display: none;
}

/*POSITION*/
/*PAGE 1*/
#slideL1{
    left: 0;
}
#play1{
    left: 45vw;
}
#pause1{
    left: 45vw;
}
#slideR1{
    left: 90vw;
}

/*PAGE 2*/
#slideL2{
    left: 100vw;
}
#play2{
    left: 145vw;
}
#pause2{
    left: 145vw;
}
#slideR2{
    left: 190vw;
}

/*PAGE 3*/
#slideL3{
    left: 200vw;
}
#play3{
    left: 245vw;
}
#pause3{
    left: 245vw;
}
#slideR3{
    left: 290vw;
}

/*PAGE 4*/
#slideL4{
    left: 300vw;
}
#play4{
    left: 345vw;
}
#pause4{
    left: 345vw;
}
#slideR4{
    left: 390vw;
}

/*PAGE 5*/
#slideL5{
    left: 400vw;
}
#play5{
    left: 445vw;
}
#pause5{
    left: 445vw;
}
#slideR5{
    left: 490vw;
}

/*PAGE 6*/
#slideL6{
    left: 500vw;
}
#play6{
    left: 545vw;
}
#pause6{
    left: 545vw;
}
#slideR6{
    left: 590vw;
}

/*PAGE INDICATORS*/
#cssSlider #pageIndicators {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100vw;
    z-index: 15;
    
}
#cssSlider #pageIndicators .indicator{
    display: inline-block;
    height:1.5em;
    width: 1.5em;
    border-radius: 100%;
    background-color: darkorchid; /*color of page indicator*/
}
#cssSlider #pageIndicators .point{
    margin: .5em;
    display: inline-block;
    height:.5em;
    width: .5em;
    border-radius: 100%;
    background: transparent;
    
}

/*PAGE INDICATOR ANIMATION*/   
#play:checked ~ #pageIndicators #point1,
#pause:checked ~ #pageIndicators #point1{
    -webkit-animation: point 48000ms infinite -2000ms;
    animation: point 40000ms infinite 0ms;
}
#play:checked ~ #pageIndicators #point2,
#pause:checked ~ #pageIndicators #point2{
    -webkit-animation: point 48000ms infinite 6000ms;
    animation: point 40000ms infinite 6666.6666666667ms;
}
#play:checked ~ #pageIndicators #point3,
#pause:checked ~ #pageIndicators #point3{
    -webkit-animation: point 48000ms infinite 14000ms;
    animation: point 40000ms infinite 13333.333333333ms;
}
#play:checked ~ #pageIndicators #point4,
#pause:checked ~ #pageIndicators #point4{
    -webkit-animation: point 48000ms infinite 22000ms;
    animation: point 40000ms infinite 20000ms;
}
#play:checked ~ #pageIndicators #point5,
#pause:checked ~ #pageIndicators #point5{
    -webkit-animation: point 48000ms infinite 30000ms;
    animation: point 40000ms infinite 26666.666666666ms;
}
#play:checked ~ #pageIndicators #point6,
#pause:checked ~ #pageIndicators #point6{
    -webkit-animation: point 48000ms infinite 38000ms;
    animation: point 40000ms infinite 33333.333333333ms;
}
#pause:checked ~ #pageIndicators #point1,
#pause:checked ~ #pageIndicators #point2,
#pause:checked ~ #pageIndicators #point3,
#pause:checked ~ #pageIndicators #point4,
#pause:checked ~ #pageIndicators #point5,
#pause:checked ~ #pageIndicators #point6{
    animation-play-state: paused;
}
#slide1:checked ~ #pageIndicators #point1{
    background: #3A4A5A; /*color of page indicator dot*/
}
#slide2:checked ~ #pageIndicators #point2{
    background: #3A4A5A; /*color of page indicator dot*/
}
#slide3:checked ~ #pageIndicators #point3{
    background: #3A4A5A; /*color of page indicator dot*/
}
#slide4:checked ~ #pageIndicators #point4{
    background: #3A4A5A; /*color of page indicator dot*/
}
#slide5:checked ~ #pageIndicators #point5{
    background: #3A4A5A; /*color of page indicator dot*/
}
#slide6:checked ~ #pageIndicators #point6{
    background: #3A4A5A; /*color of page indicator dot*/
}
.point:hover{
    background: #3A4A5A !important; /*color of page indicator dot*/
}
@keyframes point {
  0%, 16.656666666666666%  { background: #3A4A5A; }
  16.666666666666668%, 100% { background: transparent; }
}
@-webkit-keyframes point {
  0%, 16.656666666666666%  { background: #3A4A5A; }
  16.666666666666668%, 100% { background: transparent; }
}


/*next page action*/
#slide1:checked ~ #sliderImages { transform: translateX(0); }
#slide2:checked ~ #sliderImages { transform: translateX(-100vw); }
#slide3:checked ~ #sliderImages { transform: translateX(-200vw); }
#slide4:checked ~ #sliderImages { transform: translateX(-300vw); }
#slide5:checked ~ #sliderImages { transform: translateX(-400vw); }
#slide6:checked ~ #sliderImages { transform: translateX(-500vw); }


/**********IMAGE/SLIDER STYLING**********/
/*don't show the other images*/
#cssSlider { 
  position: relative; 
  overflow: hidden; 
}

/*the size of the responsixe slider, 
just replace your value based on the ratio equation*/
#cssSlider { 
  padding-bottom: 43.95%;/*to find % aspect ratio, (height/width)100*/
  height: 0;
}

/*size of the images*/
#cssSlider .pics {  
  width: 100vw;
  height: 100%; 
  float: left;
}
#cssSlider .pics img{
    width: 100%;
    height: 100%;
}
/*transition slider size*/
#sliderImages { 
    transition: 2s;
  position: absolute; 
  width:600vw;  
  animation-name:slider;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}
} /*this extra } has to be here or slider is broken, 
idk why, have spent hours trying to figure out why. 
It has to be exactly after this block of code, 
anywhere else breaks the slider*/

#sliderImages .pics { 
  float: right; 
}

/**********SLIDER TEXT**********/
.slideText{
    position: absolute;
    bottom: 0;
    padding: .6em;
    margin: 2em;
    background-color: yellow; /*color of blurb box*/
    border-radius: .5em;
}
.slideText p{
    padding: 0;
    margin: 0;
    color: black; /*color of blurb box text*/
    font-size: 2em;
}

.slideText {  
  animation-name: textBounce;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}

/**********PLAY PAUSE**********/

/*pause the show*/
#slide1:checked ~ #sliderImages,
#slide2:checked ~ #sliderImages,
#slide3:checked ~ #sliderImages,
#slide4:checked ~ #sliderImages,
#slide5:checked ~ #sliderImages,
#slide6:checked ~ #sliderImages{
    animation: none;
}
#slide1:checked ~ #sliderImages .slideText,
#slide2:checked ~ #sliderImages .slideText,
#slide3:checked ~ #sliderImages .slideText,
#slide4:checked ~ #sliderImages .slideText,
#slide5:checked ~ #sliderImages .slideText,
#slide6:checked ~ #sliderImages .slideText{
    animation: none;
}
#pause:checked ~ #sliderImages{
    animation-play-state: paused;
}
#pause:checked ~ #sliderImages .slideText{
    animation-play-state: paused;
}

/**********ANIMATIONS**********/

/*slider*/
@keyframes slider {  
    0%, 10% { 
        transform: translateX(0); 
    }
    16.6666666667%, 26.6666666667% { 
        transform: translateX(-100vw); 
    }
    33.3333333333%, 43.3333333333% { 
        transform: translateX(-200vw); 
    }
    50%, 60% { 
        transform: translateX(-300vw); 
    }
    66.6666666667%, 76.6666666667% { 
        transform: translateX(-400vw); 
    }
    83.3333333333%, 93.3333333333% { 
        transform: translateX(-500vw); 
    }
    100% { 
        transform: translateX(0); 
    }
}


/* IE 10+ hack - cant animate translate :( */
@media screen and (-ms-high-contrast: active), 
(-ms-high-contrast: none) {
  #sliderImages { 
  position: absolute; 
  width:600vw;  
  animation-name:slider-ie;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}
}
@keyframes slider-ie {  
    0%, 10% { 
        margin-left: 0; 
    }
    16.6666666667%, 26.6666666667% { 
        margin-left: -100vw; 
    }
    33.3333333333%, 43.3333333333% { 
        margin-left: -200vw; 
    }
    50%, 60% { 
        margin-left: -300vw; 
    }
    66.6666666667%, 76.6666666667% { 
        margin-left: -400vw; 
    }
    83.3333333333%, 93.3333333333% { 
        margin-left: -500vw; 
    }
    100% { 
        margin-left: 0; 
    }
}

/*text*/
@keyframes textBounce {  
    0% { transform:translateY(-50%); opacity: 0; }
    
    1% { transform:translateY(10%); opacity: 1; }
    1.5% { transform:translateY(0%); opacity: 1; }
    9% { transform:translateY(0%); opacity: 1; }
    9.5% { transform:translateY(10%); opacity: 1; }
    
    10% { transform:translateY(-50%); opacity: 0; }
    16.6% { transform:translateY(-50%); opacity: 0; }
    
    17.6% { transform:translateY(10%); opacity: 1; }
    18.1% { transform:translateY(0%); opacity: 1; }
    25.6% { transform:translateY(0%); opacity: 1; }
    26.1% { transform:translateY(10%); opacity: 1; }
    
    26.6% { transform:translateY(-50%); opacity: 0; }
    33.2% { transform:translateY(-50%); opacity: 0; }
    
    34.2% { transform:translateY(10%); opacity: 1; }
    34.7% { transform:translateY(0%); opacity: 1; }
    42.2% { transform:translateY(0%); opacity: 1; }
    42.7% { transform:translateY(10%); opacity: 1; }
    
    43.2% { transform:translateY(-50%); opacity: 0; }
    49.8% { transform:translateY(-50%); opacity: 0; }
    
    50.8% { transform:translateY(10%); opacity: 1; }
    51.3% { transform:translateY(0%); opacity: 1; }
    58.8% { transform:translateY(0%); opacity: 1; }
    59.3% { transform:translateY(10%); opacity: 1; }
    
    59.8% { transform:translateY(-50%); opacity: 0; }
    66.4% { transform:translateY(-50%); opacity: 0; }
    
    67.4% { transform:translateY(10%); opacity: 1; }
    67.9% { transform:translateY(0%); opacity: 1; }
    75.4% { transform:translateY(0%); opacity: 1; }
    75.9% { transform:translateY(10%); opacity: 1; }
    
    76.4% { transform:translateY(-50%); opacity: 0; }
    86.4% { transform:translateY(-50%); opacity: 0; }
    
    87.4% { transform:translateY(10%); opacity: 1; }
    87.9% { transform:translateY(0%); opacity: 1; }
    95.4% { transform:translateY(0%); opacity: 1; }
    95.9% { transform:translateY(10%); opacity: 1; }
    
    96.4% { transform:translateY(-50%); opacity: 0; }
    100% { transform:translateY(-50%); opacity: 0; }
}

/*FOR MOBILE*/
@media screen and (max-width: 1000px){
    .slideText,
    #pageIndicators{
        display: none;
    }    
}