/*CSS RESET*/
html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



.slideL{
    background-color: red;
    position: absolute;
    height: 100%;
    width: 4vw;
    z-index: 15;
}
.slideR{
    background-color: green;
    position: absolute;
    height: 100%;
    width: 4vw;
    z-index: 15;
}
.playBtn{
    background-color: blue;
    position: absolute;
    height: 100%;
    width: 4vw;
    z-index: 15;
}
.pauseBtn{
    background-color: yellow;
    position: absolute;
    height: 100%;
    width: 4vw;
    z-index: 15;
}

/*PAGE 1*/
#slideL1{
    left: 0;
}
#play1{
    left: 46vw;
}
#pause1{
    left: 50vw;
}
#slideR1{
    left: 96vw;
}

/*PAGE 2*/
#slideL2{
    left: 100vw;
}
#play2{
    left: 146vw;
}
#pause2{
    left: 150vw;
}
#slideR2{
    left: 196vw;
}

/*PAGE 3*/
#slideL3{
    left: 200vw;
}
#play3{
    left: 246vw;
}
#pause3{
    left: 250vw;
}
#slideR3{
    left: 296vw;
}

/*PAGE 4*/
#slideL4{
    left: 300vw;
}
#play4{
    left: 346vw;
}
#pause4{
    left: 350vw;
}
#slideR4{
    left: 396vw;
}

/*PAGE 5*/
#slideL5{
    left: 400vw;
}
#play5{
    left: 446vw;
}
#pause5{
    left: 450vw;
}
#slideR5{
    left: 496vw;
}

/*PAGE 6*/
#slideL6{
    left: 500vw;
}
#play6{
    left: 546vw;
}
#pause6{
    left: 550vw;
}
#slideR6{
    left: 596vw;
}


/**********NEXT SLIDE**********/


/*next page action*/
#slide1:checked ~ #sliderImages { transform: translateX(0); }
#slide2:checked ~ #sliderImages { transform: translateX(-100vw); }
#slide3:checked ~ #sliderImages { transform: translateX(-200vw); }
#slide4:checked ~ #sliderImages { transform: translateX(-300vw); }
#slide5:checked ~ #sliderImages { transform: translateX(-400vw); }
#slide6:checked ~ #sliderImages { transform: translateX(-500vw); }


/**********IMAGE/SLIDER STYLING**********/
/*don't show the other images*/
#cssSlider { 
  position: relative; 
  overflow: hidden; 
}

/*the size of the responsixe slider, 
just replace your value based on the ratio equation*/
#cssSlider { 
  padding-bottom: 43.95%;/*to find % aspect ratio, (height/width)100*/
  height: 0;
}

/*size of the images*/
#cssSlider .pics {  
  width: 100vw;
  height: 100%; 
  float: left;
}
#cssSlider .pics img{
    width: 100%;
    height: 100%;
}
/*transition slider size*/
#sliderImages { 
  position: absolute; 
  width:600vw;  
  animation-name:slider;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}
} /*this extra } has to be here or slider is broken, 
idk why, have spent hours trying to figure out why. 
It has to be exactly after this block of code, 
anywhere else breaks the slider*/

#sliderImages .pics { 
  float: right; 
}

/**********SLIDER TEXT**********/
.slideText{
    position: absolute;
    bottom: 0;
    padding: 1em;
    margin: 1em;
    background-color: yellow;
    border-radius: 1em;
}
.slideText p{
    padding: 0;
    margin: 0;
    font-size: 3em;
}

.slideText {  
  animation-name: textBounce;
  animation-duration: 40s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}

/**********PLAY PAUSE**********/

/*pause the show*/
#play:not(:checked) ~ #sliderImages{
    animation: none;
}
#play:not(:checked) ~ #sliderImages .slideText{
    animation: none;
}


/**********ANIMATIONS**********/
/*slider*/
@keyframes slider {  
    0% { transform: translateX(0); opacity: 1; }
    10% { transform: translateX(0); opacity: 1; }
    16.6% { transform: translateX(-100vw); opacity: 1; } 
    26.6% { transform: translateX(-100vw); opacity: 1; }
    33.2% { transform: translateX(-200vw); opacity: 1; }
    43.2% { transform: translateX(-200vw); opacity: 1; }
    49.8% { transform: translateX(-300vw); opacity: 1; }
    59.8% { transform: translateX(-300vw); opacity: 1; }
    66.4% { transform: translateX(-400vw); opacity: 1; }
    76.4% { transform: translateX(-400vw); opacity: 1; }
    86.4% { transform: translateX(-500vw); opacity: 1; }
    96.4% { transform: translateX(-500vw); opacity: 1; }
    100% { transform: translateX(0); opacity: 1; }
}

/*text*/
keyframes textBounce {  
    0% { transform:translateY(-50%); opacity: 0; }
    
    1% { transform:translateY(10%); opacity: 1; }
    1.5% { transform:translateY(0%); opacity: 1; }
    9% { transform:translateY(0%); opacity: 1; }
    9.5% { transform:translateY(10%); opacity: 1; }
    
    10% { transform:translateY(-50%); opacity: 0; }
    16.6% { transform:translateY(-50%); opacity: 0; }
    
    17.6% { transform:translateY(10%); opacity: 1; }
    18.1% { transform:translateY(0%); opacity: 1; }
    25.6% { transform:translateY(0%); opacity: 1; }
    26.1% { transform:translateY(10%); opacity: 1; }
    
    26.6% { transform:translateY(-50%); opacity: 0; }
    33.2% { transform:translateY(-50%); opacity: 0; }
    
    34.2% { transform:translateY(10%); opacity: 1; }
    34.7% { transform:translateY(0%); opacity: 1; }
    42.2% { transform:translateY(0%); opacity: 1; }
    42.7% { transform:translateY(10%); opacity: 1; }
    
    43.2% { transform:translateY(-50%); opacity: 0; }
    49.8% { transform:translateY(-50%); opacity: 0; }
    
    50.8% { transform:translateY(10%); opacity: 1; }
    51.3% { transform:translateY(0%); opacity: 1; }
    58.8% { transform:translateY(0%); opacity: 1; }
    59.3% { transform:translateY(10%); opacity: 1; }
    
    59.8% { transform:translateY(-50%); opacity: 0; }
    66.4% { transform:translateY(-50%); opacity: 0; }
    
    67.4% { transform:translateY(10%); opacity: 1; }
    67.9% { transform:translateY(0%); opacity: 1; }
    75.4% { transform:translateY(0%); opacity: 1; }
    75.9% { transform:translateY(10%); opacity: 1; }
    
    76.4% { transform:translateY(-50%); opacity: 0; }
    86.4% { transform:translateY(-50%); opacity: 0; }
    
    87.4% { transform:translateY(10%); opacity: 1; }
    87.9% { transform:translateY(0%); opacity: 1; }
    95.4% { transform:translateY(0%); opacity: 1; }
    95.9% { transform:translateY(10%); opacity: 1; }
    
    96.4% { transform:translateY(-50%); opacity: 0; }
    100% { transform:translateY(-50%); opacity: 0; }
}

/*FOR MOBILE*/
@media screen and (max-width: 1000px){
    .slideText{
        display: none;
    }
    #cssSlider:after { 
        font-size: 3em; 
    }
}